body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    overflow: hidden;
    background: #1abc9c;
    margin: -10px;
}

p {
font-weight: bold;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 20px;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%; 
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    padding: 10px;
}

.result-item img {
    width: 50%; 
    height: auto;
    margin-bottom: 0px; 
}

.result-item p {
    margin: 5px;
    font-size: 1rem;
}


p {
font-size: 150%;
}